name: Push

on:
  - push

jobs:
  call_subflow_for_preprod:
    uses: ./.github/workflows/main.yml
    with:
      input1: Preprod
      secret1: ${{ secrets.SECRET_1 }}
      secret2: ${{ secrets.SECRET_2 }}
      environment: preprod
  call_subflow_for_prod:
    needs: call_subflow_for_preprod
    uses: ./.github/workflows/main.yml
    with:
      input1: Prod
      environment: prod
      secret1: ${{ secrets.SECRET_1 }}
      secret2: ${{ secrets.SECRET_2 }}
