name: Push

on:
  - push

jobs:
  call_subflow_for_preprod:
    uses: ./.github/workflows/main2.yml
    with:
      environment: preprod
      input1: Preprod
  call_subflow_for_prod:
    needs: call_subflow_for_preprod
    uses: ./.github/workflows/main2.yml
    with:
      input1: Prod
      environment: prod
